DeleteBook {
    align:center middle;

    .dialog {
        width: 60;
        height: auto;
        padding: 2 4;
        background: darkcyan;
        align: center middle;
    }

    #question {
        width: 100%;
        text-align: center;
        margin-bottom: 1;
    }

    #bookTitle {
        width: 100%;
        text-align: center;
        text-style: bold;
        margin-bottom: 2;
    }

    Horizontal {
        width: 100%;
        height: auto;
        align: center middle;
    }

    #yesButton {
        margin-right: 2;
    }
}